div.gallery {
  margin: 5px;
    padding-bottom: 65px; 
  border: 1px solid #ccc;
  float: left;
  width: 18%;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 2px;
 
}
.titulo{
      padding: 9px; 
    font-size: 18px;
      text-align: center;
   
}
/*para en la que se muestra la sala de cine*/ 
.texto{ 
 display: inline-flex;
 width: 3.5%;
}
.bot{
    display: inline-flex;
    width: 100%; 
    padding-bottom: 15px;
}
 .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #b7b7b7;
    border-radius: 3px;
    border: 1px solid #b7b7b7;
   
  }
  .boton_personalizado:hover{
    color: #fff;
    background-color: #5b98a3;
    border: 1px solid #5b98a3;  
  }

/*estilo select*/

.principal{
    background-color: rgba(114, 156, 162, 0.87);
    text-align: center;
    color:#fff;
   
}
input[type=submit] {
  background-color: rgba(114, 156, 162, 0.87);
  border: none;
  color: white;
  padding: 12px 32px;
 
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.caja {
   margin:20px auto 40px auto;	
   border:1px solid #d9d9d9;
   height:30px;
   overflow: hidden;
   width: 230px;
   position:relative;
}
select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 250px;
}
select:focus{ outline: none;}
.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}

/*estilo tablas purchase*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #b7b7b7}

th {
  background-color: rgba(114, 156, 162, 0.87);
  color: white;
}

.error{
    padding-left: 30%;
}
